services:
  orion:
    image: fiware/orion
    container_name: orion
    hostname: orion
    ports:
      - "1026:1026"
    depends_on:
      - mongo
    command: 
      -dbURI mongodb://mongo
      -corsOrigin __ALL
    networks:
      - twin-fiware-demo

  mongo:
    image: mongo:4.4
    container_name: mongo
    hostname: mongo
    ports:
      - "27017:27017"
    command: --nojournal
    volumes:
      - mongo_data:/data/db
    networks:
      - twin-fiware-demo
  
  cygnus:
    # image: fiware/cygnus-ngsi
    hostname: cygnus
    container_name: cygnus
    build:
      context: .
      dockerfile: dockerfile_cygnus
    # depends_on:
    #   - postgis
    ports:
      - "5051:5051"
      - "5055:5055"
      - "5080:5080" 
    environment:
      CYGNUS_SERVICE_PORT: 5055
      CYGNUS_POSTGRESQL_SERVICE_PORT: 5055
      # PostgreSQL config
      CYGNUS_SKIP_CONF_GENERATION: true
      CYGNUS_LOG_LEVEL: INFO
      CYGNUS_POSTGRESQL_HOST: timescale
      CYGNUS_POSTGRESQL_PORT: 5432
      CYGNUS_POSTGRESQL_DATABASE: geopamplona
      CYGNUS_POSTGRESQL_USER: admin
      CYGNUS_POSTGRESQL_PASS: admin
      CYGNUS_POSTGRESQL_SERVICE: timescale
      CYGNUS_POSTGRESQL_DATA_MODEL: dm-by-entity-type #dm-by-entity-type-database #dm-by-entity-type-database #dm-by-entity-type-database
      CYGNUS_POSTGRESQL_ATTR_PERSISTENCE: column
      
      CYGNUS_MYSQL_HOST : mysql
      CYGNUS_MYSQL_DB : orion
      CYGNUS_MYSQL_PORT : 3306
      CYGNUS_MYSQL_USER : root
      CYGNUS_MYSQL_PASS : 6447
      CYGNUS_MYSQL_DATA_MODEL : dm-by-entity-type
      CYGNUS_MYSQL_ATTR_PERSISTENCE: column
      # CYGNUS_MYSQL_SERVICE_PORT : 5050
    volumes:
      - ./cygnus/agent.conf:/opt/apache-flume/conf/agent.conf

    networks:
      - twin-fiware-demo

  timescale:
    image: timescale/timescaledb-ha:pg16-ts2.17-all
    container_name: timescale
    hostname: timescale
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: geopamplona
      PGDATA: /home/postgres/pgdata/data
    ports:
      - "5432:5432"
    volumes:
      - ./timescaledb:/home/postgres/pgdata
    user: "0:0"
    # restart: unless-stopped
    networks:
      - twin-fiware-demo

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - timescale
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin

    networks:
      - twin-fiware-demo

  iot-agent-json:
    image: fiware/iotagent-json
    hostname: iot-agent-json
    container_name: iot-agent-json
    restart: always
    depends_on:
      - mongo
    environment:
      IOTA_CB_HOST : orion
      IOTA_CB_PORT : 1026
      IOTA_NORTH_PORT: 4041
      IOTA_REGISTRY_TYPE: mongodb
      IOTA_LOG_LEVEL: DEBUG
      # IOTA_TIMESTAMP: true
      IOTA_CB_NGSI_VERSION: v2
      # IOTA_AUTOCAST: true
      IOTA_MONGO_HOST: mongo
      IOTA_MONGO_PORT: 27017
      IOTA_MONGO_DB: orion
      IOTA_HTTP_PORT: 7896
      IOTA_PROVIDER_URL: http://iot-agent-json:4041
      IOTA_DEFAULT_RESOURCE: /iot/json
    ports:
      - "4041:4041"
      - "7896:7896"
    networks:
      - twin-fiware-demo

  iot-agent-ul:
    image: fiware/iotagent-ul
    hostname: iot-agent-ul
    container_name: iot-agent-ul
    depends_on:
      - mongo
    ports:
      - "4061:4061"
      - "7897:7897"
    environment:
      IOTA_CB_HOST: orion
      IOTA_CB_PORT: 1026
      IOTA_NORTH_PORT: 4061
      IOTA_REGISTRY_TYPE: mongodb
      IOTA_LOG_LEVEL:  DEBUG
      # IOTA_TIMESTAMP: true
      IOTA_MONGO_HOST: mongo
      IOTA_MONGO_PORT: 27017
      IOTA_MONGO_DB: orion
      IOTA_HTTP_PORT: 7897
      IOTA_PROVIDER_URL: http://iot-agent:4061
      # IOTA_AUTOCAST: true
    networks:
      - twin-fiware-demo
  
  draco:
    image: ging/fiware-draco
    container_name: draco
    hostname: draco
    # build:
    #   context: .
    #   dockerfile: dockerfile_draco
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=pass1234567890
      - NIFI_WEB_PROXY_HOST=127.0.0.1,localhost,172.30.188.48:8443,pmplvddock02:8443 
    ports:
      - "8443:8443"
      - "5050:5050"
    volumes:
      # - ./draco/nifi.properties:/opt/nifi/nifi-current/conf/nifi.properties
      - ./draco/content_repository:/opt/nifi/nifi-current/content_repository
      - ./draco/database_repository:/opt/nifi/nifi-current/database_repository
      - ./draco/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - ./draco/logs:/opt/nifi/nifi-current/logs
      - ./draco/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - ./draco/state:/opt/nifi/nifi-current/state
    networks:
      - twin-fiware-demo

  fastapi:
    hostname: fastapi
    container_name: fastapi
    build:
      context: .
      dockerfile: dockerfile_fastapi
    # depends_on:
    #   - postgis
    ports:
      - "8001:8000"
    networks:
      - twin-fiware-demo
  
  nginx_server:
    hostname: nginx
    container_name: nginx
    build:
      context: .
      dockerfile: dockerfile_nginx
    ports:
      - "89:80"
    depends_on:
      - fastapi
    networks:
      - twin-fiware-demo

  jenkins:
    build:
      context: .
      dockerfile: dockerfile_jenkins
    container_name: jenkins
    hostname: jenkins
    ports:
      - "8082:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
    restart: unless-stopped
    networks:
      - twin-fiware-demo
    
  grafana:
    image: grafana/grafana
    container_name: grafana
    hostname: grafana
    depends_on:
        - timescale
    ports:
        - '3000:3000'
    #volumes:
      #- .\var_lib_grafana:/var/lib/grafana
      #- .\grafana.ini:/etc/grafana/grafana.ini
    networks:
      - twin-fiware-demo

  n8n:
    image: docker.n8n.io/n8nio/n8n
    hostname: n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=localhost:5678
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Europe/Madrid
      - TZ=Europe/Madrid
    volumes:
      - ./n8n/n8n_data:/home/node/.n8n
      - ./n8n/local-files:/files
    networks:
      - twin-fiware-demo

volumes:
  mongo_data:

networks:
  twin-fiware-demo:
    driver: bridge