services:
  superset:
    image: apache/superset:latest
    container_name: superset
    hostname: superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY : 12314567890abcdef$%
      SUPERSET_LOAD_EXAMPLES: no
      SUPERSET_ADMIN_USERNAME: admin
      SUPERSET_ADMIN_PASSWORD: admin
      SUPERSET_ADMIN_EMAIL: admin@superset.com
      SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://admin:admin@timescale:5432/
    volumes:
      - ./superset:/app/superset_home
    
    networks:
      - superset-net

networks:
  superset-net:
    driver: bridge